{% extends "IAAngularApplicationBundle::layout.html.twig" %}
{% set assetsPath = "/bundles/iaangularapplication" %}

{% block title %}{{ parent() }} :: Angular Application{% endblock %}

{% block content %}
	<div id="IAAngularApplication">
    	<div data-ng-view class="example-animate-container" data-ng-animate="{enter: 'example-enter', leave: 'example-leave'}"></div>
    </div>
{% endblock %}
