/web/assets/
/web/bundles/
/app/bootstrap.php.cache
/app/SymfonyRequirements.php
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/*
/bin/
/composer.phar
/composer.lock
/nbproject/
*/Resources/public/vendor/*
/node_modules/

