<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}IA CRUD{% endblock %}Address Book</title>
{% block stylesheets %}
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}{% endblock %}
</head>
<body>

    <div class="navbar navbar-top">
        <div class="navbar-inner">
            <div class="container">
                <h2>IA Framework</h2>
            </div>
        </div>
    </div>
    
    <div id="navigation">
        {{ render(controller(
            'IANavigationBundle:Default:render',
            { 'menuId': 1 }
        )) }}
    </div>

{% block content %}{% endblock %}
   
</body>
</html>