<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Add Fieldset Field</h4>
        </div>
        <div class="modal-body">
            {{ form_start(form) }}



            {{ form_end(form) }}
        </div>
    </div>
</div>
