<ul class="nav" id="side-menu">
    <li class="sidebar-search">
        
        <h3>Main Menu</h3>
        <!-- /input-group -->
    </li>
    <li>
        <a class="active" href="/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Contacts<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="#/contacts">List Contacts</a>
            </li>
            <li>
                <a href="#/add-contact">Add New Contacts</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li> 
    <li>
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Pages<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="#/pages">List Pages</a>
            </li>
            <li>
                <a href="#/add-page">Add New Page</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li> 
</ul>