{% extends "IAAngularAdminPanelBundle::layout.html.twig" %}
{% set assetsPath = "/bundles/iaangularapplication" %}

{% block title %}{{ parent() }} :: Angular Application{% endblock %}

{% block content %}
	<div id="IAAngularApplication">
        
    	<div data-ng-view></div>
        
    </div>
{% endblock %}
