<ul class="pagination" data-ng-show="range.length > 1">
    <li data-ng-class="{disabled: request.page == 1}">
        <a href data-ng-click="setPage(request.page-1)">« Prev</a>
    </li>
    <li data-ng-repeat="p in range"
        data-ng-class="{active: p == request.page}"
        data-ng-click="setPage(p)">
        <a href data-ng-bind="p">1</a>
    </li>
    <li data-ng-class="{disabled: request.page == range.length}">
        <a href data-ng-click="setPage(request.page+1)">Next »</a>
    </li>
</ul>